<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
.main{
	width: 40%;
	margin: auto;
	text-align:center;
	border: 1px solid;
	border-top: none;
	border-bottom: none;
}
.hd{
	font-weight: bold;
}
.m{
	width: 25%;
	float: left;
	border-bottom: 1px solid black;
	line-height: 40px;
}
.cl{
	clear: both;
 }
 .bg1{
 	background-color: blue;
 }
 .bt{
	width: 40%;
	margin: auto;
	text-align:center;
	border: 1px solid;
	margin-top: 30px;
	height: 60px;
	vertical-align: middle;
	line-height: 60px;
}
</style>
</head>
<body>
	<div class="main">
		<div class="hd">
			<div class="m">列一</div>
			<div class="m">列二</div>
			<div class="m">列三</div>
			<div class="m">列四</div>
			<div class="cl"></div>
		</div>
		<div class="bg1">
			<div class="m">列一</div>
			<div class="m">列二</div>
			<div class="m">列三</div>
			<div class="m">列四</div>
			<div class="cl"></div>
		</div>
		<div>
			<div class="m">列一</div>
			<div class="m">列二</div>
			<div class="m">列三</div>
			<div class="m">列四</div>
			<div class="cl"></div>
		</div>
		<div class="bg1">
			<div class="m">列一</div>
			<div class="m">列二</div>
			<div class="m">列三</div>
			<div class="m">列四</div>
			<div class="cl"></div>
		</div>
	</div>
	
	<div class="bt">
		底部占位块
	</div>

</body>
</html>